.welcome-text {
    color: #fff;
    font-size: 4rem;
    opacity: 0;
    transform: scale(0.5);
    animation: zoomIn 2s ease-in-out forwards;
}

@keyframes zoomIn {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}
@keyframes fadeOutText {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
