.sidebar {
  width: 250px;
  background-color: #2c3e50;
  padding: 1rem;
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
  background-color: #2c3e50;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-actions {
  list-style: none;
  padding: 0;
  width: 95%;
}

.admin-actions li {
  margin: 1rem 0;
}

.admin-actions a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.section-header {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.add-style{
  cursor: pointer;
  color: #000;
  display: flex;
  background-color: #d0d0d0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.section-header:hover {
  background-color: #d0d0d0;
}

.sub-options {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.sub-options li {
  margin: 0.5rem 0;
}

.sub-options a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sub-options a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
}