.view-items-admin{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 1rem 0;
    scroll-behavior: smooth;
}

.view-items-admin-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.items-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;  
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.item-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item-btn{
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-count {
    font-size: medium;
    color: green;
    margin-left: 2.5rem;
}
